.card.emblem.inlineConsole-card.hero-card.pal--m.tac
  img.emblem-item(src='/images/img-console.svg' alt='' width='72')

  .emblem-content
    h3.h.h--2.h--light Ready to try JavaScript?

    p.tfh.tss
      | Begin learning here by typing in your first name surrounded by 
      | quotation marks, and ending with a semicolon. For example, you
      | could type the name 
      code.inlineCode "Gregg";
      |  and then hit 
      kbd.inlineCode enter
      | .

    form.inlineConsole.js-inlineConsole(action='')
      span.inlineConsole-icon.inlineConsole-icon--caret
      span.inlineConsole-icon.inlineConsole-icon--check
      input.form-input.inlineConsole-input.js-inlineConsole-input(type='text')
      a.btn.inlineConsole-btn.js-inlineConsole-btn(href='/try') Next Challenge
