.newsletter.js-newsletter
  form.form.newsletter-form.mtm.js-newsletter-form
    fieldset.form-field.form-field--inline.mbf
      .g.g--xs
        .g-b.g-b--s--3of5

          input.form-input.form-input--inline.mbs.mbf--m(type='email' name='email' placeholder='Email Address' required)
          p.mbf.mts.tce.tsxs.is-hidden.js-newsletter-error

        .g-b.g-b--s--2of5

          input.btn.btn--b.form-btn(type='submit' value='Sign Up' href="#")
