block current_nav
  - current_page = 'Feedback'

block layout_variables
  - pageTitle = 'Feedback'

extends /views/layouts/layout

block content

  section.row
    .cell.cell--s.well.well--l.well--m--xl

      .tac
        img.mbm(src='/images/img-feedback.svg' alt='Feedback' width='112')
        h1.h.h--1 Success!
        p Thanks for your feedback! We'll get back to you as soon as possible.
        a.btn(href='/') Head Back Home
